<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Jornal KTA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-searchbar showCancelButton="never"></ion-searchbar>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle> <ion-label color="primary"> NOVA NOTÍCIA </ion-label> </ion-card-subtitle>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        <ion-card-title> Shopping </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Shopping Center inaugura em Cataguases.
      </ion-card-content>
      <ion-label color="primary"> 12/06/2020 </ion-label>
    </ion-card>
  </ion-item-group>
</ion-content>
